<!-- templates/login.html -->
<html>
        <head>
                <title>Data Upload</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
                <script   src="https://code.jquery.com/jquery-3.5.1.js"   integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="   crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('main_page') }}">Lassa Virus Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('download_page') }}">Download</a>
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </ul>

                </div>
        </nav>
	<body>
		<div class="row justify-content-center">
			<div class="col col-md-6">
				<div class="card border-secondary mb-3 mt-3">
					<div class="card-header">Data Entry: Viral Infection Data</div>
					<div class="card-body">
						<form action="" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
								<label for="InputCSV">File input</label>
								<input type="file" class="form-control-file" id="InputCSV" aria-describedby="fileHelp" name="ViralInfection">
								<small id="fileHelp" class="form-text text-muted">Attach a .csv file with the Lassa infection data that should be added to the database. For a successful upload, the input data should be formatted according to the example <a download  href="/static/Viral_Infection_Template.csv">template</a>. For a detailed description of the data fields, see <a download href="/static/Viral_Infection_Description.txt">here</a>.</small>
								<input type="submit" value="Upload File" name="submit1">
							</div>
						</form>
						{% if message  %}
						<div class="alert alert-dismissible alert-success" style="width:90%">
							<strong>{{message}}</strong>
						</div>
						{% endif  %}
						{% if error  %}
						<div class="alert alert-dismissible alert-danger" style="width:90%">
							<strong>{{error}}</strong>
						</div>
						{% endif  %}
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col col-md-6">
				<div class="card border-secondary mb-3">
					<div class="card-header">Data Entry: Viral Sequence Data</div>
					<div class="card-body">
						<form action="" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
								<label for="InputSeqCSV">File input</label>
								<input type="file" class="form-control-file" id="InputSeqCSV" aria-describedby="SeqfileHelp" name="ViralSequence">
								<small id="SeqfileHelp" class="form-text text-muted">Attach a .csv file with the Lassa sequence data that should be added to the database. For a successful upload, the input data should be formatted according to the example <a download  href="/static/Viral_Sequence_Template.csv">template</a>. For a detailed description of the data fields, see <a download href="/static/Viral_Sequence_Description.txt">here</a>.</small>
								<input type="submit" value="Upload File" name="submit2">
							</div>
						</form>
						{% if seq_message  %}
						<div class="alert alert-dismissible alert-success" style="width:90%">
							<strong>{{seq_message}}</strong>
						</div>
						{% endif  %}
						{% if seq_error  %}
						<div class="alert alert-dismissible alert-danger" style="width:90%">
							<strong>{{seq_error}}</strong>
						</div>
						{% endif  %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
