<!-- templates/download.html -->
<html>
	<head>
		<title>Download Lassa Data</title>
		<link rel="stylesheet" href="/static/bootstrap.css">
		<script src='/static/jquery-3.5.1.js'></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="{{ url_for('main_page') }}">Lassa Virus Dashboard</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
        				<a class="nav-link" href="{{ url_for('download_page') }}">Download</a>
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
			</ul>
  
		</div>
	</nav>

	<body>
		<div style="text-align: center" class="jumbotron">
			<h3>{{message}}</h3>
			<p style="text-align: center" class="text-danger"> This page will allow users to download the Lassa data that is displayed on the visualization page.</p>
		</div>
		<div class="row justify-content-center">
			<div class="card border-secondary mb-3" style="max-width: 30rem;">
				<div class="card-header">Download Lassa Data</div>
				<div class="card-body">
					<div class="form-group row">
						<label for="Host">Host</label>
						<select class="form-control" name="Host" id="Host">
							<option value="human">human</option>
							<option value="rodent">rodent</option>
						</select>
					</div>
					<div class="form-group row">
						<label for="StartYear">Start Year</label>
						<select class="form-control" name="StartYear" id="StartYear">
							{% for year in StartYearList  %}
							<option value="{{year}}">{{year}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group row">
						<label for="EndYear">End Year</label>
						<select class="form-control" name="EndYear" id="EndYear">
							{% for end_year in EndYearList %}
							<option value="{{end_year}}">{{end_year}}</option>
							{% endfor %}
						</select>
					</div>
				<button type="submit" class="btn btn-primary mb-2" id="dwnBtn">Download Data</button>
				</div>
			</div>
		</div>
		<script>
			var hostList = document.getElementById("Host");
			hostList.options[0].selected = true;
			var startYear = document.getElementById("StartYear"),
			endYear = document.getElementById("EndYear");
			start_year_select = $('#StartYear');
			end_year_select = $('#EndYear');
			host_select = $('#Host');
			//var myRes = getYearLists();
			//console.log(myRes);
			$( document ).ready(function() {
				initYears();
			});
			host_select.on('change', function(){
				initYears();
			});
			$('#dwnBtn').on('click', function(){
				var host = $('#Host').find(":selected").text();
				var startYear = $('#StartYear').find(":selected").text();
				var endYear = $('#EndYear').find(":selected").text();
				var sendPars = {host: host, start_year: startYear, end_year: endYear};
				$.ajax({async:false, url:"/_download_data", data:sendPars, dataType:"json",
					success: function(data){
						items = data;
						const replacer = (key, value) => value ===null ? '' : value;
						const header = Object.keys(items[0]);
						let csv = items.map(row=> header.map(fieldName=> JSON.stringify(row[fieldName], replacer)).join(','));
						csv.unshift(header.join(','));
						csv = csv.join('\r\n');
						//console.log(csv);
						var downloadLink = document.createElement("a");
						var blob = new Blob(["\ufeff", csv]);
						var url = URL.createObjectURL(blob);
						downloadLink.href = url;
						downloadLink.download = "LassaData.csv";
						document.body.appendChild(downloadLink);
						downloadLink.click();
						document.body.removeChild(downloadLink);
					}
				});
			});
			function initYears(){
				var host = $('#Host').find(":selected").text();
				var sendHost = {host: host};
				$.ajax({async:false, url:"/_get_init_year_lists", data:sendHost, dataType:"json",
					success: function(data){
						result = data;
						start_year_select.empty();
						end_year_select.empty();
						for (var i in result[0]){
							start_year_select.append(
								$('<option>',{
								value: result[0][i],
								text: result[0][i]},
								'</option>'))
						};
						for (var j in result[1]){
							end_year_select.append(
								$('<option>',{
								value: result[1][j],
								text: result[1][j]},
								'</option>'))
						}
					}
				});
			};
			
		</script>
	</body>
</html>
