<!-- templates/index.html -->
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.css" />
		<title>Lassa Virus Dashboard</title>
		<link rel="stylesheet" href="/static/leaflet.css" />
		<link rel="stylesheet" href="/static/MarkerCluster.css" />
		<link rel="stylesheet" href="/static/MarkerCluster.Default.css" />
		<script src="/static/leaflet.js"></script>
		<script src='/static/leaflet-heat.js'></script>
		<script src='/static/leaflet.markercluster.js'></script>
		<script src='/static/jquery-3.5.1.js'></script>
		<script src='/static/bootstrap-tab.js'></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="{{ url_for('main_page') }}">Lassa Virus Dashboard</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
        				<a class="nav-link" href="{{ url_for('download_page') }}">Download</a>
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
			</ul>
  
		</div>
	</nav>

	<body>
		<div class="jumbotron">
		<h2 style="text-align: center">{{message}}</h2>
		<p style="text-align: center" class="text-danger">The purpose of this dashboard is to provide a comprehensive visualization of Lassa virus across West Africa.</p>
		</div>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="card-group" id="myCard">
					<div class="card border-secondary w-75">
						<div class="card-header">Mapping</div>
  						<div class="card-body">
                                                        <ul class="nav nav-tabs" id="myTabs">
                                                                <li class="nav-item">
                                                                        <a class="nav-link" id="HumanTab" href="LassaHumans">Lassa virus in humans</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                        <a class="nav-link" id="RodentTab" href="LassaRodents">Lassa virus in rodents</a>
                                                                </li>
                                                        </ul>

							<div class="tab-content" id="myTabContent">
  								<div class="tab-pane fade show active" id="LassaHumans">
									<div id="map" style="width:790px; height:590px; margin: auto">
                                                                		<script>
                                                                        		var mapOptions = {center: [13.531665, -2.460415], zoom:4};
                                                                        		var map = new L.map("map", mapOptions);
                                                                        		var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
                                                                        		map.addLayer(layer);
                                                               			</script>
										{% block mapper %}{% endblock %}
									</div>
								</div>
								<div class="tab-content fade active" id="LassaRodents">
									<div id="map" style="width:790px; height:590px; margin: auto">
                                                                                {% block RodentMapper %}{% endblock %}
                                                                        </div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</body>
</html>


