<!-- templates/index.html -->
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.css" />
		<title>Lassa Virus Dashboard</title>
		<link rel="stylesheet" href="/static/leaflet.css" />
		<link rel="stylesheet" href="/static/MarkerCluster.css" />
		<link rel="stylesheet" href="/static/MarkerCluster.Default.css" />
		<script src="/static/leaflet.js"></script>
		<script src='/static/leaflet-heat.js'></script>
		<script src='/static/leaflet.markercluster.js'></script>
		<script src='/static/jquery-3.5.1.js'></script>
		<script src='/static/bootstrap-tab.js'></script>
		<script src='/static/plotly-latest.min.js'></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="{{ url_for('main_page') }}">Lassa Virus Dashboard</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
        				<a class="nav-link" href="{{ url_for('download_page') }}">Download</a>
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
			</ul>
  
		</div>
	</nav>

	<body>
		<div class="jumbotron">
		<!--<h2 style="text-align: center">{{message}}</h2>-->
		<p style="text-align: left">
			The purpose of this dashboard is to provide a comprehensive visualization of Lassa virus across West Africa. To do so, we have compiled and processed a broad data set that describes Lassa virus infection and sequence data across both space and time. Below, we present a summary of our data set followed by a map and barchart that describes one of the following subsets of data: 1.) Lassa infection in humans, 2.) Lassa infection in rodents, 3.) Lassa sequence data from rodent hosts. For further details regarding the mapping and time series barcharts, please see below.  
		</p>
		</div>
		<div class="row justify-content-center">
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body", style="text-align:center;">
					<img src="/static/images/custom_world2.png"></img> <br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[0]}}</b></span><br>
						<span style="font-size:13px;">Countries Represented</span>
					</p>
				</div>
			</div>
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body" style="text-align:center;">
					<img src="/static/images/custom_study2.png"></img><br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[1]}}</b></span><br>
						<span style="font-size:13px;">Source Studies</span>
					</p>
				</div>
			</div>
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body" style="text-align:center;">
					<img src="/static/images/custom_rodent2.png"></img><br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[2]}}</b></span><br>
						<span style="font-size:13px;">Rodent Point Samples</span>
					</p>
				</div>
			</div>
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body" style="text-align:center;">
					<img src="/static/images/custom_human2.png"></img><br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[3]}}</b></span><br>
						<span style="font-size:13px;">Human Point Samples</span>
					</p>
				</div>
			</div>
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body" style="text-align:center;">
					<img src="/static/images/custom_LASV.png"></img><br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[4]}}</b></span><br>
						<span style="font-size:13px;">Lassa Sequences</span>
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="MainContain">
			<div class="row">
				<div class="col-lg-8" style="height: 485px">
					<div class="card" style="height: 100%" id="mapCard">
						<div class="card-body">
							<p style="text-align: center; color: #1a1a1a"><b>Select a tab below to begin mapping</b> </p>
							<ul class="nav nav-tabs nav-justified" id="myTabs">
								<li class="nav-item" style="margin-left:0px;margin-right:0px;">
									<a class="nav-link" id="HumanTab" href="LassaHumans" style="border-color: #dfdfdf; border-bottom: transparent;">Viral Infection: Humans</a>
								</li>
								<li class="nav-item" style="margin-left:0px;margin-right:0px;">
									<a class="nav-link" id="RodentTab" href="LassaRodents" style="border-color: #dfdfdf; border-bottom: transparent;">Viral Infection: Rodents</a>
								</li>
								<li class="nav-item" style="margin-left:0px;margin-right:0px;">
									<a class="nav-link" id="SequenceTab", href="LassaSequence" style="border-color: #dfdfdf; border-bottom: transparent;">Viral Sequences</a>
								<li>
							</ul>
							<div class="tab-content" id="myTabContent">
  								<div class="tab-pane fade in show active" id="LassaHumans">
									<div id="MapWrapper" style="height: 75%; width:100%; margin:auto">
                                                                        	<div class="row" style="position: absolute; z-index:99; left:75px; bottom:315px;" id="yearFilter">
                                                                                	<div class="form-group" style="width:65px;">
                                                                                        	<label for="StartYear"></label>
                                                                                        	<select class="form-control" name="StartYear" id="StartYear">
                                                                                                	{% for year in StartYearList  %}
                                                                                                	<option value="{{year}}">{{year}}</option>
                                                                                                	{% endfor %}
                                                                                        	</select>
                                                                                	</div>
                                                                                	<div class="form-group" style="width:65px;">
                                                                                        	<label for="EndYear"></label>
                                                                                        	<select class="form-control" name="EndYear" id="EndYear">
                                                                                                	{% for end_year in EndYearList %}
                                                                                                	<option value="{{end_year}}">{{end_year}}</option>
                                                                                                	{% endfor %}
                                                                                        	</select>
                                                                                	</div>
                                                                        	</div>
										<script>
												var SY = document.getElementById("StartYear");
												SY.options[0].selected = true;
												var EY = document.getElementById("EndYear");
												EY.options[EY.options.length - 1].selected = true;
												var start_year_select = $('#StartYear'),
												end_year_select = $('#EndYear');
												start_year_select.on('change', function(){
													getUpdatedEndYear(start_year_select.val());
													var startYear = $('#StartYear').find(":selected").text();
													var endYear = $('#EndYear').find(":selected").text();
													var NewCoords = GetFilteredPoints(startYear, endYear);
													MapPoints(NewCoords);
													end_year_select.on('change', function(){
														var startYear = $('#StartYear').find(":selected").text();
														var endYear = $('#EndYear').find(":selected").text();
														var NewCoords = GetFilteredPoints(startYear, endYear);
														MapPoints(NewCoords);
													});
												});
												end_year_select.on('change', function(){
													var startYear = $('#StartYear').find(":selected").text();
													var endYear = $('#EndYear').find(":selected").text();
													var NewCoords = GetFilteredPoints(startYear, endYear);
													MapPoints(NewCoords);
												});
												function getUpdatedEndYear(start_val) {
													var send = {
													start_year: start_val,
													host:"{{host}}"
													};
													$.ajax({async:false, url:"/_get_end_year", data:send, dataType:"json",
														success: function(data){
															end_year_select.empty();
															for (var i in data){
																end_year_select.append(
																	$('<option>',{
																	value: data[i].end_year,
																	text: data[i].end_year},
																	'</option>'))
															}
														}
													});
												}
												var startYear = $('#StartYear').find(":selected").text();
												var endYear = $('#EndYear').find(":selected").text();
												var coords = GetFilteredPoints(startYear, endYear);
												//console.log(coords);
												function GetFilteredPoints(startYear, endYear){
													var NewCoords = null;
													var send_years = {
														start_year: startYear,
														end_year: endYear,
														host:"{{host}}"
													};
													$.ajax({async:false, url:"/_filter_points", data:send_years, dataType:"json",
														success: function(data){
															result=data;
														}
													});
													return result;
												};
												function MapPoints(NewCoords){
													markers.clearLayers();
													map.removeLayer(markers);
													for (var i in NewCoords){
														coordPair = NewCoords[i];
														if ("{{host}}"=="human"){
															var Ablabel ="<b>Proportion arenavirus positive:</b> " + coordPair.PropAb;
															var Citation = "<b>Citation:</b> " + coordPair.Citation;
															if (coordPair.DOI == "NaN"){
																DOI = "<b>DOI:</b> NaN";
															} else{
																var DOI = "<b>DOI:</b> <a href='https://doi.org/" + coordPair.DOI +"'>link</a>";
															}
															title = Ablabel + "<br> <br>" + Citation + "<br> <br>" + DOI ;
														}
														if ("{{host}}" == "rodent"){
															var Ablabel ="<b>Proportion arenavirus positive:</b> " + coordPair.PropAb;
															var Aglabel="<b>Proportion Lassa virus positive:</b> " + coordPair.PropAg;
															var Citation = "<b> Citation:</b> " + coordPair.Citation;
															if (coordPair.DOI == "NaN"){
																DOI = "<b>DOI:</b> NaN";
															} else {
																var DOI = "<b>DOI:</b> <a href='https://doi.org/" + coordPair.DOI +"'>link</a>";
															}
															title = Ablabel + "<br> <br>" + Aglabel + "<br> <br>" + Citation + "<br> <br>" + DOI
														}
														if ("{{host}}"=="sequence"){
															var gbDef =  "<b>GenBank description:</b> " + coordPair.gbDefinition;
															var ref = "<b>Reference:</b> " + coordPair.Reference;
															if (coordPair.gbPubMedID == "NaN"){
																PubMedID = "<b>PubMed:</b> NaN";
															} else {
																var PubMedID = "<b>PubMed:</b> <a href='https://pubmed.ncbi.nlm.nih.gov/" + coordPair.gbPubMedID +"'>link</a>";
															}
															title = gbDef + "<br> <br>" + ref + "<br> <br>" + PubMedID ;
														}
														var marker = L.marker(new L.LatLng(coordPair.Latitude, coordPair.Longitude, { title: title}));
														marker.bindPopup(title);
														marker.setIcon(myIcon);
														markers.addLayer(marker);
													}
													map.addLayer(markers);
												};
										
										</script>
										<div id="map" style="height:100%; width:100%; position: relative; z-index:1;">
											<script>
												var mapOptions = {center: [9.531665, 4.460415], zoom:4};
												var map = new L.map("map", mapOptions);
												var layer = new L.TileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
												map.addLayer(layer);
											</script>
											{% block mapper %}{% endblock %}
										</div>
									</div>
								</div>
								<div class="tab-pane fade in" id="LassaRodents">
									<div id="map" style="height:100%; width:100%; position: relative; z-index:1;">
										{% block RodentMapper %}{% endblock %}
									</div>
								</div>
								<div class="tab-pane fade in" id="LassaSequence">
									<div id="map" style="height:100%; width:100%; position: relative; z-index:1;">
										{% block SequenceMapper %}{% endblock %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4" style="height: 485px">
					<div class="card" style="height: 100%">
						<div class="card-body">
							<div id='myDiv' style="width:100%">
								<script>
									//console.log("{{host}}")
									{% if host == "human" %}
									var propAb = {{jsonPropAb|tojson}};
									let AbTime = [];
									let AbProp = [];
									for (var i in propAb){
										AbTime.push(propAb[i].Ab_year);
										AbProp.push(propAb[i].propAbPos);
									};
									var finalTitle = "Viral Infection: Humans"
									var layout = {
										title: finalTitle,
										font: {color:'#1a1a1a'},
										autosize: true,
										automargin: false,
										margin: {
											l: 55,
											r: 10,
											b: 50,
											t: 50,
											pad: 4
											},
										xaxis:{title: {text: 'Year'}},
										yaxis:{title: {text: 'Proportion of Individuals'}},
										showlegend: true,
                                                                                legend: {
											x: 0.45,
                                                                                        xanchor: 'center',
                                                                                        y: 1,
                                                                                        "orientation": "h"
                                                                                        }
									};
									var data = [{
										x: AbTime,
										y: AbProp,
										type: 'bar',
										name: 'Arenavirus positive',
										marker: {color: '#f0ad4e'}
									}];
									let modeBarButtons = [["toImage", "lasso2d"]];
									Plotly.newPlot('myDiv', data, layout, {modeBarButtons, responsive:true, displaylogo:false});
									{% endif  %}
									{% if host == "rodent" %}
									var propAb = {{ jsonPropAb|tojson}};
									var propAg = {{jsonPropAg|tojson}};
                                                                        var finalTitle = "Viral Infection: Rodents"
									var layout = { 
										title: finalTitle,
										font: {color:'#1a1a1a'},
										autosize: true,
										automargin: false,
										margin: {
											l: 55,
											r: 10,
											b: 50,
											t: 50,
											pad: 4
											},
										xaxis:{title: {text: 'Year'}},
										yaxis:{title: {text: 'Proportion of Individuals'}},
										legend: {
											x: 0.45,
											xanchor: 'center',
											y: 1,
											"orientation": "h"
											}
									};
									let AbTime = [];
									let AbProp = [];
									for (var i in propAb){
										AbTime.push(propAb[i].Ab_year);
										AbProp.push(propAb[i].propAbPos);
									};
									let AgTime = [];
									let AgProp = [];
									for (var j in propAg){
										AgTime.push(propAg[j].Ag_year);
										AgProp.push(propAg[j].propAgPos);
									};
									var trace1 = {
										x: AbTime,
										y: AbProp,
										name: 'Lassa virus positive',
										type: 'bar',
										barmode: 'group',
										marker: {color: '#f0ad4e'}
									};
									var trace2 = {
										x: AgTime,
										y: AgProp,
										name: 'Arenavirus positive',
										type: 'bar',
										barmode: 'group',
										marker: {color: '#7f7fff'}
									};
									var data = [trace1, trace2];
									let modeBarButtons = [["toImage", "lasso2d"]];
									Plotly.newPlot('myDiv', data, layout, {modeBarButtons, responsive:true, displaylogo:false})
									{% endif %}
									{% if host=="sequence" %}
										var seqData = {{ jsonSeq|tojson}};
										//console.log(seqData);
										var finalTitle = "Viral Sequences";
										let seqYear = [];
										let seqCount = [];
										for (var i in seqData){
											seqYear.push(seqData[i].seq_year);
											seqCount.push(seqData[i].seq_count); 
										};
										var data = [{
											x: seqYear,
											y: seqCount,
											name: 'Numer of Sequences',
											type: 'bar',
											marker: {color: '#f0ad4e'}
										}];
										//console.log(data);
										var layout = { 
											title: finalTitle,
											font: {color:'#1a1a1a'},
											autosize: true,
											automargin: false,
											margin: {
												l: 55,
												r: 10,
												b: 50,
												t: 50,
												pad: 4
											},
											xaxis:{title: {text: 'Year'}},
											yaxis:{title: {text: 'Count'}},
											showlegend: true,
											legend: {
												x: 0.45,
												xanchor: 'center',
												y: 1,
												"orientation": "h"
												}
											};
										let modeBarButtons = [["toImage", "lasso2d"]];
										Plotly.newPlot('myDiv', data, layout, {modeBarButtons, responsive:true, displaylogo:false})
									{% endif  %}
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>
		$(window).on("resize", function(){
                        var filterTop = $('#map').position().top + 4;
                        var filterLeft = $('#map').position().left + 55;
                        $('#yearFilter').css({'top': filterTop, 'left':filterLeft});
		});
		$(document).ready(function(){
    			if(window.matchMedia("(max-width: 767px)").matches){
        		// The viewport is less than 768 pixels wide
        			//alert("This is a mobile device.");
				var newMapHeight = $('#map').height() - 44;
				$('#map').css({'height': newMapHeight});
    			} else{
        		// The viewport is at least 768 pixels wide
                        	var filterTop = $('#map').position().top + 4;
                        	var filterLeft = $('#map').position().left + 55;
                        	$('#yearFilter').css({'top': filterTop, 'left':filterLeft});
        			//alert("This is a tablet or desktop.");
    			}
		});
	</script>
	</body>
</html>


