<!-- templates/index.html -->
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.css" />
		<title>Lassa Virus Dashboard</title>
		<link rel="stylesheet" href="/static/leaflet.css" />
		<link rel="stylesheet" href="/static/MarkerCluster.css" />
		<link rel="stylesheet" href="/static/MarkerCluster.Default.css" />
		<script src="/static/leaflet.js"></script>
		<script src='/static/leaflet-heat.js'></script>
		<script src='/static/leaflet.markercluster.js'></script>
		<script src='/static/jquery-3.5.1.js'></script>
		<script src='/static/bootstrap-tab.js'></script>
		<script src='/static/plotly-latest.min.js'></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="{{ url_for('main_page') }}">Lassa Virus Dashboard</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
        				<a class="nav-link" href="{{ url_for('download_page') }}">Download</a>
                                <li class="nav-item">
                                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
			</ul>
  
		</div>
	</nav>

	<body>
		<div class="jumbotron">
		<!--<h2 style="text-align: center">{{message}}</h2>-->
		<p style="text-align: center">
			The purpose of this dashboard is to provide a comprehensive visualization of Lassa virus across West Africa. To do so, we have compiled and processed Lassa virus infection data from published studies, dating back to the 1970's. Below, we present maps of Lassa virus infection in both rodents and humans, as well as a basic summary of our data set.   
		</p>
		</div>
		<div class="row justify-content-center">
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body", style="text-align:center;">
					<img src="/static/images/custom_world.png"></img> <br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[0]}}</b></span><br>
						<span style="font-size:13px;">Countries Represented</span>
					</p>
				</div>
			</div>
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body" style="text-align:center;">
					<img src="/static/images/custom_study.png"></img><br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[1]}}</b></span><br>
						<span style="font-size:13px;">Source Studies</span>
					</p>
				</div>
			</div>
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body" style="text-align:center;">
					<img src="/static/images/custom_rodent.png"></img><br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[2]}}</b></span><br>
						<span style="font-size:13px;">Rodent Point Samples</span>
					</p>
				</div>
			</div>
			<div class="card border-light mb-3 mr-3" style="width: 15rem;">
				<div class="card-body" style="text-align:center;">
					<img src="/static/images/custom_human.png"></img><br>
					<p style="color: #1a1a1a">
						<span style="font-size:30px;"><b>{{data_summary[3]}}</b></span><br>
						<span style="font-size:13px;">Human Point Samples</span>
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid" id="MainContain">
			<div class="row">
				<div class="col col-md-8" style="height: 485px">
					<div class="card" style="height: 100%">
						<div class="card-body">
							<div class="form-group" style="width:45%;">
								<label for="StartYear">Start Year:</label>
								<select class="form-control" name="StartYear" id="StartYear">
									{% for year in StartYearList  %}
									<option value="{{year}}">{{year}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group" style="width:45%;">
								<label for="EndYear">End Year:</label>
								<select class="form-control" name="EndYear" id="EndYear">
									{% for end_year in EndYearList %}
									<option value="{{end_year}}">{{end_year}}</option>
									{% endfor %}
								</select>
							</div>
							<script>
								var SY = document.getElementById("StartYear");
								SY.options[0].selected = true;
								var EY = document.getElementById("EndYear");
								EY.options[EY.options.length - 1].selected = true;
								$(function(){
									var start_year_select = $('#StartYear'),
									end_year_select = $('#EndYear');
									start_year_select.on('change', function(){
										getUpdatedEndYear(start_year_select.val());
									});
									//$(document).ready(function(){
									//	getUpdatedEndYear(SY.options[0].selected);
									//});
									function getUpdatedEndYear(start_val) {
										//console.log(start_val);
										var send = {
											start_year: start_val,
											host:"{{host}}"
										};
										$.getJSON("/_get_end_year", send, function(response) {
											//console.log(response);
											end_year_select.empty();
											for (var i in response){
												//console.log(response[i].end_year);
												end_year_select.append(
													$('<option>',{
													value: response[i].end_year,
													text: response[i].end_year},
													'</option>'))
											};
											//var EY = document.getElementById("EndYear");
											//console.log(EY.options.length);
											//EY.options[EY.options.length -1].selected = true;
										});
									}
								});
							</script>
							<p style="text-align: center; color: #1a1a1a"><b>Select a tab below to begin mapping</b> </p>
							<ul class="nav nav-tabs" id="myTabs">
								<li class="nav-item">
									<a class="nav-link" id="HumanTab" href="LassaHumans">Lassa virus in humans</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="RodentTab" href="LassaRodents">Lassa virus in rodents</a>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">
  								<div class="tab-pane fade in show active" id="LassaHumans">
									<div id="map" style="width:100%; height:370px; margin: auto">
										<script>
											var mapOptions = {center: [9.531665, 4.460415], zoom:4};
											var map = new L.map("map", mapOptions);
											var layer = new L.TileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
											map.addLayer(layer);
										</script>
										{% block mapper %}{% endblock %}
									</div>
								</div>
								<div class="tab-pane fade in" id="LassaRodents">
									<div id="map" style="width:890px; height:370px; margin: auto">
										{% block RodentMapper %}{% endblock %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-md-4" style="height: 485px">
					<div class="card" style="height: 100%">
						<div class="card-body">
							<div id='myDiv' style="width:100%">
								<script>
									var baseTitle = "Arenavirus Positive<br>"
									var finalTitle = baseTitle.concat("{{bar_title}}")
									var layout = {
										title: finalTitle,
										font: {color:'#1a1a1a'},
										autosize: true,
										automargin: false,
										margin: {
											l: 55,
											r: 10,
											b: 50,
											t: 50,
											pad: 4
											},
										xaxis:{title: {text: 'Year'}},
										yaxis:{title: {text: 'Proportion of Individuals'}}
									};
									var data = [{
										x: {{year_list}},
										y: {{totalAbPos}},
										type: 'bar',
										marker: {color: '#f0ad4e'}
									}];
									let modeBarButtons = [["toImage", "lasso2d"]];
									Plotly.newPlot('myDiv', data, layout, {modeBarButtons, responsive:true, displaylogo:false});
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</body>
</html>


