<!-- templates/login.html -->
<html>
<link rel="stylesheet" href="/static/bootstrap.css">
        <head>
                <title>Download Lassa Data</title>
        </head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ url_for('main_page') }}">Lassa Virus Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                        <a class="nav-link" href="Download">Download</a>
				<li class="nav-item">
					<a class="nav-link" href="login">Login</a>
                        </ul>

                </div>
        </nav>

        <body>
		<form action="" method="POST" role="form">
		<div class="form-group">
			<!--{{ form.hidden_tag() }}-->
			<fieldset>
				<label for="username" class="control-label">Username</label>
				<input class="form-control" type="text" name="username">
				<!--{{ form.username }}-->
  			</fieldset>
			<fieldset>
				<label for "password" class="control-label">Password</label>
				<input class="form-control" type="password" name="password">
				<!--{{ form.password }}-->
			</fieldset>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	</body>
</html>
