{% extends "index.html" %}
{% block RodentMapper %}
<script>	
	var myIcon = L.icon({
		iconUrl: '/static/images/baseline_pest_control_rodent_black_18dp.png',
		iconSize: [35,35]
	}); 
	var markers = L.markerClusterGroup();
	for (var i in coords){
		var coordPair = coords[i];
		var PropAb = coordPair.PropAb;
		var PropAg = coordPair.PropAg;
		var Ablabel = '<b>Proportion arenavirus positive:</b> ';
		var Aglabel = '<b>Proportion Lassa virus positive:</b> ';
		title = Ablabel + PropAb + "<br>" + Aglabel + PropAg;
                var Citation = "<b>Citation:</b> " + coordPair.Citation;
                if (coordPair.DOI == 'NaN'){
                        DOI = "<b>DOI:</b> NaN";
                } else{
                        var DOI = "<b>DOI:</b> <a href='https://doi.org/" + coordPair.DOI +"'>link</a>";
                }
                var label = '<b>Proportion arenavirus positive:</b> ';
                title = Ablabel + PropAb + "<br>" + Aglabel + PropAg  + "<br>" + Citation + "<br>" + DOI ;
		var marker = L.marker(new L.LatLng(coordPair.Latitude, coordPair.Longitude, { title: title}));marker.bindPopup(title);
		marker.bindPopup(title);
		marker.setIcon(myIcon);
		markers.addLayer(marker);
		}
	map.addLayer(markers);
</script>
<script>
$(document.body).scrollTop($("#MainContain").offset().top);
$(document).ready(function () {
	$('#RodentTab').addClass('active');
});
</script>
{% endblock %}
